{ 
    "base_folder": "/baseFolder/",
    "matches": [
        {
            "short_word": "Gas Provider Name",
            "folder": "Gas/"
        },
        {
            "short_word": "Garage Name",
            "folder": "Automobile/"
        },
        {
            "short_word": "Dental Clinic",
            "folder": "health/" 
        }
    ]
}